# Dependencies
node_modules/
.pnpm-store/

# Next.js Build Output
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Environment variables & secrets
.env
.env.*
.env*.bak
*.bak
!.env.example
*.pem

# IDE & System Files
.vscode/
.idea/
.DS_Store
*.log
